<h1>Hi {{ data }}</h1>

<mat-dialog-content>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia tempore
    nemo quos aperiam quo. Saepe consectetur ipsum nesciunt corporis molestiae
    expedita modi quisquam commodi excepturi illum, officia distinctio id
    perspiciatis.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
    close
  </button>

  <button mat-raised-button [mat-dialog-close]="'Biok from HTML'" color="warn">
    <mat-icon>close</mat-icon>
    close
  </button>
</mat-dialog-actions>
